<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./static/img/logo-unet.png" />
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body class="text-center bg-light">
    <div
      class="container-lg bg-light principal-container cover-container d-flex h-200 p-5 mx-auto flex-column"
    >
      <div class="avatar">
        <a href="http://www.unet.edu.ve/">
          <img
            src="./static/img/logo-unet.png"
            class="img-circle img-responsive"
            width="15%"
          />
        </a>
      </div>

      <div class="container pt-5">
        <h1 class="card-title font-weight-bold text-dark">
          <strong>UNET rest api</strong>
        </h1>
      </div>

      <div class="flex-row pb-5">
        <a href="https://flask.palletsprojects.com/en/1.1.x/">
          <img
            src="./static/img/flask_logo.png"
            class="img-circle img-responsive"
            width="9%"
          />
        </a>

        <a href="https://pymongo.readthedocs.io/en/stable/">
          <img
            src="./static/img/mongodb.png"
            class="img-circle img-responsive"
            width="12%"
          />
        </a>

        <a href="https://jwt.io/">
          <img
            src="./static/img/jwt.png"
            class="img-circle img-responsive"
            width="8%"
          />
        </a>

        <a href="https://www.heroku.com/">
          <img
            src="./static/img/heroku.png"
            class="img-circle img-responsive"
            width="15%"
          />
        </a>
      </div>
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card-section border rounded p-3">
                  <div class="card-header-first rounded pt-2">
                    <img
                      src="./static/img/api2.png"
                      class="img-circle img-responsive"
                      width="32%"
                    />
                  </div>
                  <div class="card-body text-center">
                    <p class="card-text">
                      Read API rest docs at: <a href="#">Docs</a> <br />
                      Telegram Bot: <a href="#">@unetpicbot</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card-section border rounded p-3">
                  <div class="card-header-first rounded pb-5">
                    <img
                      src="./static/img/code.png"
                      class="img-circle img-responsive"
                      width="32%"
                    />
                  </div>
                  <div class="card-body text-center">
                    <p class="card-text">
                      API rest source code:
                      <a href="https://github.com/jefferson10147/unet-api"
                        >Flask-API</a
                      >
                      <br />
                      Bot source code: <a href="https://telegram.me/unetpicbot">Unet pic Bot</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-12 mb-4">
                <div class="card-section border rounded p-3">
                  <div class="card-header-first rounded pt-1">
                    <img
                      src="./static/img/contact.png"
                      class="img-circle img-responsive"
                      width="30%"
                    />
                  </div>
                  <div class="card-body text-center">
                    <p class="card-text">
                      Contact me for any questions:<br />
                      <a href="https://t.me/jefferson10147">Telegram</a>-<a
                        href="https://github.com/jefferson10147"
                        >GitHub</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"
      integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
